server {
    listen 80;
    server_name {{ app_name }};

    location /static/ {
        root {{ app_dir }}/live;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:{{ app_dir }}/live/socket.sock;
    }
}