[Unit]
Description={{ app_name }} gunicorn daemon
After=network.target

[Service]
User=vagrant
Group=vagrant
WorkingDirectory={{ app_dir }}/live
ExecStart={{ app_dir }}/live/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:{{ app_dir }}/live/socket.sock hamlet_test.wsgi:application

[Install]
WantedBy=multi-user.target