[Unit]
Description={{ hamlet.daemon_name }} gunicorn daemon
After=network.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory={{ hamlet.project.dir }}
ExecStart={{ hamlet.project.dir }}/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:{{ hamlet.project.dir }}/gunicorn.sock {{ hamlet.project.name }}.wsgi:application

[Install]
WantedBy=multi-user.target